body {
	font: 100% Open Sans Regular, Arial, Helvetica, sans-serif;
	line-height: 1.5;
	background: #fff;
	font-weight: normal;
	font-style: normal;
	margin-left: 7%; 
	margin-right: 7%; 
}

html {
	background-color: #F9F9F9;
	/*margin-top: 0;*/
}

h1 {
	color: #2f2f2f;
	font-size: 250%;
	padding: 15px 0 15px 0;
}

a {
	text-decoration: none;
	color: gray;
}

#header {
	margin: 0 35px 0 35px;
}

#content {
	overflow: auto;
	margin: 35px;
}

#header .nav {
	background-color: #525151;
	color: #eaeaea;
	padding: 10px;
	/*active color #444444;*/
	/*active side lines color #838383;*/
}

/*#header .nav ul {
	height: 40px;
}*/

#header .nav li {
	display: inline-block;
	width: 100px;
    text-align: center;
}

#sidebar {
	float: left;
	width: 200px;
    height: 240px;
}

#sidebar ul {
	border: 1px solid gray;
	border: 1px solid #c8c8c8;
}

#sidebar li {
    border-bottom: 1px solid gray;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#article {
	width: 800px;
	float: right;
}

#article img {
	float: right;
	border: 1px solid #c8c8c8;
    padding: 50px 150px;
}

.clear_right{
	clear: right;
}

#footer .nav {
	background-color: #e1e1e1;
	padding: 10px;
}

#footer {
	clear: both;
	position: relative;
}

#footer .nav li {
	display: inline-block;
    width: 100px;
    text-align: center;
}

#copyright {
	position: absolute;
    top: 11px;
    right: 40px;
}

