@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: "Lobster";
    src: url(../fonts/Lobster.otf); 
 }

@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeueBold.otf); 
 }

*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*.font_bebas {
	font-family: BebasNeue;
	font-weight: 400;
}*/

/*HEADER STYLES START*/

header {
	background: #fff;
	padding: 0 11%;
	line-height: 84px; 
}

header h1 {
	font-family: Lobster;
	color:  #3bc3b5;
	font-size: 3.063em;
	font-weight: 400;
	text-align: left;
	float: left;
}

header input {
	float: left;
	outline: none;
	height: 31px;
	width: 43%;
	margin-top: 27px;
	margin-left: 18%;
	border: 1px solid #e1e1e1;
	background: url(../img/search_icon.png) no-repeat;
	background-position: 99%;
}

header img {
	float:left;
	margin-top: 21px; 
	margin-left: 15%;
}

header p {
	font-family: BebasNeue;
	color:  #a1a1a1;
	font-size: 2.063em;
	font-weight: 400;
	text-align: left;
	float: left;
	margin-top: 4px;
	margin-left: 2%;
}

/*HEADER STYLES END*/

/*NAV STYLES START*/

nav {
	background: #4ccfc1;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
	height: 36px;
	padding-top: 8px;
}

nav ul {
	line-height: 36px;
	margin: 0 10%
}

nav ul li {
	float: left;
	border-right: 2px solid #fff;
	padding: 0 2%;
	line-height: 21px;
}

nav ul li:last-child {
	border: none;
}

nav ul li a {
	font-family: BebasNeue;
	color:  #fff;
	font-size: 1.313em;
	font-weight: 400;
	text-align: left;
}

/*NAV STYLES END*/

/*SECTION TOP STYLES START*/

.section_top {
	background: #3cc3b5;
	padding-top: 5%;
	padding-bottom: 4%;
}
/*
.section_top {
	margin-top: 5%;
	margin-bottom: 3%;
}*/

.section_top figure{
	float: left;
	margin-left: 16%;
}

.section_top aside {
	float: left;
	width: 31%;
	margin-left: 7%;
	padding-top: 1%;
}

.section_top aside h2 {
	font-family: BebasNeue;
	color:  #fff;
	font-size: 3.813em;
	line-height: 0.885;
	text-align: left;
}

.section_top aside p {
	font-family: "Open Sans", Arial, sans-serif;
	color:  #fff;
	font-size: 1.063em;
	line-height: 1.647;
	font-weight: 400;
	text-align: left;
	padding-top: 3%;
	word-wrap: break-word;
}

.section_top button {
	font-family: BebasNeue;
	color:  #fff;
	font-size: 1.688em;
	font-weight: 400;
	/*line-height: 0.704;*/
	text-align: center;
	background: rgba(255, 255, 255, 0);
	border: 3px solid #fff;
	border-radius: 7px;
	padding-top: 2%;
	margin-top: 5%;
	width: 139px;
	height: 46px;
}

.section_top .slider_indicators {
	margin-top: 11%;
}

.section_top .slider_indicators li{
	border-radius: 50%;
	background-color:  #ffffff;
	width: 9px;
	height: 9px;
	display: inline-block;
	margin-right: 10px;
}

.section_top .slider_indicators .active {
	border-radius: 50%;
	background-color:  rgba(255, 255, 255, 0.32);
	width: 9px;
	height: 9px;
}

/*SECTION TOP STYLES END*/

/*CAROUSEL SECTION STYLES START*/

.section_carousel

.section_carousel__wrapper {
	margin: 0 9%;
}

.section_carousel__item figure {
	float: left;
}

.section_carousel__item aside {
	float: left;
	margin-top: 10.5%;
}

.section_carousel__item h3, .section_main__item h3, .section_main__item p {
	font-family: BebasNeue;
	color:  #afafaf;
	font-size: 1.688em;
	font-weight: 400;
	line-height: 0.926;
	text-align: left;
	margin-bottom: 16%;
}

.section_carousel__item aside button {
	border: none;
	border-radius: 3px;
	background-color:  #3cc395;
	width: 59px;
	height: 32px;
	font-family: BebasNeue;
	color:  #fff;
	font-size: 1.188em;
	font-weight: 400;
	line-height: 1em;
	text-align: center;
	padding-top: 4%;
}

.section_carousel__item.item_left {
	float: left;
	border-right: 1px solid #ccc;
	padding: 2% 4% 2% 0;
}

.section_carousel__item.item_center {
	float: left;
	border-right: 1px solid #ccc;
	padding: 2% 4% 4% 6%;
}

.section_carousel__item.item_right {
	float: left;
	padding: 2% 4% 4% 6%;
}

/*CAROUSEL SECTION STYLES END*/

/*SECTION MAIN STYLES START*/

.section_main__header h1 {
	font-family: BebasNeue;
	color:  #fff;
	background: #3cc3b5;
	font-size: 1.938em; 
	font-weight: 400;
	line-height: 2.1em;
	text-align: left;
	padding-top: 1%;
	padding-left: 14%;
}

.section_main__item {
	float: left;
	border: 1px solid #ccc;
	width: 20%;
    height: 260px;
    margin-top: 3%;
    border-bottom: 5px solid #3cc395;
    text-align: center;
}

.section_main__item img {
	
}

.section_main__item h3, .section_main__item p {
	text-align: center;
	margin: 0;
}

.section_main__item h3 {
	margin-top: 12%;
}

.section_main__item p {
	float: left;
	margin-top: 5%;
}

.section_main__item_buy {
	margin: 3% 22%;
}

.section_main__item button {
	border: none;
	border-radius: 3px;
	background-color:  #3cc395;
	width: 74px;
	height: 34px;
	font-family: BebasNeue;
	color:  #fff;
	font-size: 1.188em;
	font-weight: 400;
	line-height: 1em;
	text-align: center;
	padding-top: 4%;
	float: right;
}

/*SECTION MAIN STYLES END*/

