@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: "Lobster";
    src: url(../fonts/Lobster.otf); 
 }

@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeueBold.otf); 
 }

*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*HEADER STYLES START*/

header {
	background: #fff;
	padding: 0 11%;
	line-height: 84px; 
}

header h1 {
	font-family: Lobster;
	color:  #3bc3b5;
	font-size: 3.063em;
	font-weight: 400;
	text-align: left;
	float: left;
}

header input {
	float: left;
	outline: none;
	height: 31px;
	width: 43%;
	margin-top: 27px;
	margin-left: 18%;
	border: 1px solid #e1e1e1;
	background: url(../img/search_icon.png) no-repeat;
	background-position: 99%;
}

header div.basket {
	float: right;
    height: 50px;
    padding-top: 6px;
    font-family: BebasNeue;
	color:  #a1a1a1;
	font-size: 2.063em;
	font-weight: 400;
	text-align: left;
}

header img {
	/*float:left;*/
/*	margin-top: 21px; 
	margin-left: 15%;*/
}

header p {
	font-family: BebasNeue;
	color:  #a1a1a1;
	font-size: 2.063em;
	font-weight: 400;
	text-align: left;
	/*float: left;*/
	margin-top: 4px;
	margin-left: 2%;
}

/*HEADER STYLES END*/

/*NAV STYLES START*/

nav {
	background: #4ccfc1;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

nav ul {
	line-height: 36px;
	width: 90%;
	margin: 0 auto;
}

nav ul li {
	float: left;
	border-right: 2px solid #fff;
	padding: 0 2%;
	line-height: 21px;
	margin: 8px 0;
}

nav ul li:last-child {
	border: none;
}

nav ul li a {
	font-family: BebasNeue;
	color:  #fff;
	font-size: 1.313em;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
}

/*NAV STYLES END*/

/*SECTION TOP STYLES START*/

.section_top {
	background: #3cc3b5;
	padding-top: 5%;
	padding-bottom: 4%;
}
/*
.section_top {
	margin-top: 5%;
	margin-bottom: 3%;
}*/

.section_top figure{
	float: left;
	margin-left: 16%;
}

.section_top aside {
	float: left;
	width: 31%;
	margin-left: 7%;
	padding-top: 1%;
}

.section_top aside h2 {
	font-family: BebasNeue;
	color:  #fff;
	font-size: 3.813em;
	line-height: 0.885;
	text-align: left;
}

.section_top aside p {
	font-family: "Open Sans", Arial, sans-serif;
	color:  #fff;
	font-size: 1.063em;
	line-height: 1.647;
	font-weight: 400;
	text-align: left;
	padding-top: 3%;
	word-wrap: break-word;
}

.section_top button {
	font-family: BebasNeue;
	color:  #fff;
	font-size: 1.688em;
	font-weight: 400;
	/*line-height: 0.704;*/
	text-align: center;
	background: rgba(255, 255, 255, 0);
	border: 3px solid #fff;
	border-radius: 7px;
	padding-top: 5px;
	margin-top: 5%;
	width: 139px;
	height: 46px;
}

.section_top .slider_indicators {
	margin-top: 11%;
}

.section_top .slider_indicators li{
	border-radius: 50%;
	background-color:  #ffffff;
	width: 9px;
	height: 9px;
	display: inline-block;
	margin-right: 10px;
}

.section_top .slider_indicators .active {
	border-radius: 50%;
	background-color:  rgba(255, 255, 255, 0.32);
	width: 9px;
	height: 9px;
}

/*SECTION TOP STYLES END*/

/*CAROUSEL SECTION STYLES START*/

.section_carousel {
	position: relative;
}

.section_carousel__wrapper {
	width: 90%;
	margin-left: 10%;
}

.section_carousel .pointer_left {
	position: absolute;
	top: 50%;
	left: 1%;
	transform: translateY(-50%);
}

.section_carousel .pointer_right {
	position: absolute;
	top: 50%;
	right: 1%;
	transform: translateY(-50%);
}

.section_carousel__item {
	width: 30%;
	height: 190px;
	position: relative;
	float: left;
    border-right: 1px solid #ccc;
}

.section_carousel__item:last-child {
	border: none;
}

.section_carousel__item div.image {
	position: absolute;
	top: 20px;
	left: 0;
	width: 55%;
	height: 150px;
	padding: 20px 0;
	padding-left: 5%;
}

.section_carousel__item aside {
	width: 45%;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);	
}

.section_carousel__item aside h3 {
	line-height: 30px;
	height: 60px;
	overflow: hidden;
}

.section_carousel__item .image img {
	max-width: 100%;
	max-height: 100%;
}

.section_carousel__item h3, .section_main__item h3, 
.section_main__item p, .menu_bottom__block h3,
.section_main__item .section_main__item_buy span {
	font-family: BebasNeue;
	color:  #afafaf;
	font-size: 1.688em;
	font-weight: 400;
	line-height: 0.926;
	text-align: left;
	margin-bottom: 10%;
	text-transform: uppercase;
}

.section_carousel__item aside button {
	border: none;
	border-radius: 3px;
	background-color:  #3cc395;
	width: 59px;
	height: 32px;
	font-family: BebasNeue;
	color:  #fff;
	font-size: 1.188em;
	font-weight: 400;
	line-height: 1em;
	text-align: center;
	padding-top: 4px;
}

/*CAROUSEL SECTION STYLES END*/

/*SECTION MAIN STYLES START*/

.section_main__wrapper {
	padding: 3% 12% 0;
}

.section_main__header h1 {
	font-family: BebasNeue;
	color:  #fff;
	background: #3cc3b5;
	font-size: 1.938em; 
	font-weight: 400;
	line-height: 2.1em;
	text-align: left;
	padding-top: 1%;
	padding-left: 14%;
}

.section_main__item {
	float: left;
	border: 1px solid #ccc;
	width: 27.3%;
	margin: 0 3% 5% 3%; 
    height: 260px;
    border-bottom: 5px solid #3cc395;
    padding: 10px 5px;
}

.section_main__item img {
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}

.section_main__item h3 {
	text-align: center;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	margin-bottom: 0;
	margin-top: 25px;
}

.section_main__item div.img_wrapper {
	height: 120px;
}

.section_main__item .section_main__item_buy {
    padding-top: 4px;
    padding-left: 24%;
}

.section_main__item .section_main__item_buy span {
	float: left;
    margin-right: 15px;
    padding-top: 8px;
}

.section_main__item .section_main__item_buy button {
	border: none;
	border-radius: 3px;
	background-color:  #3cc395;
	width: 74px;
	height: 34px;
	font-family: BebasNeue;
	color:  #fff;
	font-size: 1.188em;
	font-weight: 400;
	line-height: 1em;
	text-align: center;
	padding-top: 6px;
	float: left;
}

/*SECTION MAIN STYLES END*/

/*BOTTOM MENU SECTION START*/

.menu_bottom {
	background: #3cc3b5;
}

.menu_bottom__wrapper {
	padding: 3% 12%;
}

.menu_bottom .menu_bottom__block {
	float: left;
	width: 25%;
	padding-left: 3%;
}

.menu_bottom .menu_bottom__block:last-child {
	margin-right: 0;
}

.menu_bottom .menu_bottom__block h3 {
	color: #fff;
	margin-bottom: 5%;
}

.menu_bottom .menu_bottom__block  a {
	font-family: "Open Sans", Arial, sans-serif;
	color: #fff;
	font-size: 0.938em; 
	font-weight: 400;
	line-height: 1.867;
	text-align: left;
}

/*BOTTOM MENU SECTION END*/

/*FOOTER SECTION START*/

footer {
	background: #2da89b;
	font-family: "Open Sans", Arial, sans-serif;
	color:  #fff;
	font-size: 0.938em;
	font-weight: 400;
	line-height: 45px;
	text-align: center;
}

/*FOOTER SECTION END*/