body {
	font: 100% Cantarell, Arial, Helvetica, sans-serif;
	line-height: 1.5;
	background: #fff;
	color: rgb(80, 76, 75);
	font-weight: normal;
	font-style: normal;
}

div {
	/*margin-left: 10%; */
	text-align: center;
}